services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        CACHE_BUSTER: ${CACHE_BUSTER:-$(date +%s)}
        VITE_API_URL: http://localhost:8000
    ports:
      - "80:80"
  backend:
    build:
      context: ./backend
      args:
        CACHE_BUSTER: ${CACHE_BUSTER:-$(date +%s)}
    environment:
      DB_HOST: db
      ALLOWED_HOSTS: "*"
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
  db:
    image: "postgres:16-alpine"
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/data/postgres
    env_file: ".env"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres", "-d", "telemedicina_db" ]
      interval: 5s
      timeout: 2s
      retries: 5
  rabbitmq:
    image: "rabbitmq:3-management-alpine"
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "status" ]
  email:
    build:
      context: ./email
      dockerfile: Dockerfile
      args:
        CACHE_BUSTER: ${CACHE_BUSTER:-$(date +%s)}
    env_file: ./email/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "9000:9000"
  ai:
    build:
      context: ./ai
      dockerfile: Dockerfile
      args:
        CACHE_BUSTER: ${CACHE_BUSTER:-$(date +%s)}
    env_file: ./ai/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
    ports:
      - "9001:9001"

volumes:
  postgres_data:
